/*-------Layout---
 ===============================*/

html {
	font-size:1em;
}

body {
	font-family: Arial,"liberation sans", Helvetica, sans-serif;
	font-size:85%;
	color:#6D6E72;
}

* {
	 -webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		  -o-box-sizing:border-box;
		     box-sizing:border-box;
}

.wrapper {
    display: table;
    margin: 0 auto;
    max-width: 1280px;
    min-width:500px;
    overflow: visible;
    padding: 1.5em;
    position: relative;
    width: 100%;
    border: 3px solid #eee;
}


section.mainmap {
    float: left;
    min-width: 200px;
    width: 65%;
    padding-right:1em;
    background-image:url(../images/background-circle.png);
    background-size:100%;
    background-repeat:no-repeat;
}

section.year-slider-section {
	width:65%;
	float:left;
	position:relative;
	padding-right:1em;
}


aside.info {
    display: block;
    float: right;
    min-width: 150px;
    position: relative;
    width: 32%;
}

.legend {
	width: 100%;
	height: 60px;
}

/*-------General Styles---------------------
 ===============================*/

h1, h2 {
	font-family: "MetaCompPro-blackRegular",Arial,Helvetica,sans-serif;
	color:#222;
}

/*-------Map---------------------
 ===============================*/

#map {
	margin:13%;
	margin-right:7%;
}

.map-svg {
	overflow:visible;
}

.country { fill: #eee; }

.country-border {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.selected-country-border {
	fill: none;
	stroke-width: 3;
	stroke-linejoin: round;
}
.selected-country-border.water { stroke: orange; }
.selected-country-border.sanitation { stroke: black; }

#select-source {
	position:absolute;
}

/*--Tooltip--*/

div.tooltip {
	position: absolute;
	text-align: left;
	width: 80px;
	height: 65px;
	padding: 2px;
	font-family: sans-serif;
	background: #444;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

span.tooltip-year {
	color: white;
	font-size: 20px;
}
span.tooltip-country {
	color: white;
	font-weight: bold;
	font-size: 15px;
}
span.tooltip-percent {
	color: orange;
	font-weight: bold;
	font-size: 20px;
}

/*--Year Slider--*/

#year-slider > a.d3-slider-handle {
	width: 4em;
	height: 2em;
	line-height: 2em;
	top: -0.7em;
	text-align:center;
	margin-left: -2em;
	background: orange;
	color: white;
	font-weight: bold;
}

/*------Info Panel----------------
 ===============================*/

aside.info {
    background-color: #F8F8F8;
}

/*--Social Buttons--*/
/*--From https://github.com/mattberridge/Simple-Social-Sharing-Buttons --*/
.ss-share {
    background-color: #FFFFFF;
    list-style: none outside none;
    margin: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
}

.ss-share-item {
	display: inline;
	margin-right:0.25em;
}

.ss-share-link {
	/* crude button styles */
	background-image:url(../images/social-share-icons-sprite.png);
	background-repeat:no-repeat;
	height:25px;
	width:25px;
	display:inline-block;
}

.ss-share-link:hover, .ss-share-link:active, .ss-share-link:focus { color: #891434; }

.ico-facebook { }
.ico-twitter {background-position:25%;}
.ico-google {background-position:50%;}
.ico-linkedin {background-position:75%;}
.ico-embed {background-position:100%;}

/*--Country info--*/

#country-info-graph {
    background-color: #FFFFFF;
    width:100%;
    height:160px;
}

#country-info line {
	stroke-width: 3;
	fill: none;
	stroke: #888;
}

#country-info line.axis {
	stroke-width: 3;
}

#country-info line.history { stroke: steelblue; }
#country-info line.projection { stroke: darkgrey; }
#country-info line.universal { stroke: orange; }


#country-info text {
	font-family: sans-serif;
	font-size: 9pt;
}

/*--Targets--*/

.targets-section {
	width: 125px;
	float: left;
}

.targets-section.currently {
	text-align: right;
	margin-right: 20px;
}
.targets-section.for-target {
	text-align: left;
	margin-left: 20px;
}

#targets-key {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
}
#targets-key-person { display: inline; }
#targets-key-text { display: inline; }

.currently { color: black; }
.for-target { color: orange; }
.targets-section-title, .targets-number-unit { font-size: 1.5em; }
.targets-number-digits { font-size: 3em; }
.targets-subtitle, .targets-detail, .targets-percent, #targets-key-text { color: #666; }

.person { fill: #aaa; }
.person.current { fill: black; }
.person.current .negative { fill: red; }
.person.target { fill: orange; }
.person.key { fill: #aaa; }


/*--Map Legend--*/


.legend {
	border: 1px solid #bbb;
	background-color: #fff;
}
#map-legend-label { 
	text-align: center; 
}
.zero-percent { 
	float: left; 
	}
.hundred-percent { 
	float: right; 
	}
.legend-number { 
	font-size: 2em; 
	font-weight: bold; }
.legend-percent { 
	font-size: 0.8em; 
	}





