/*-------Layout---
 ===============================*/

html {
	font-size:1em;
}

body {
	font-family: Arial,"liberation sans", Helvetica, sans-serif;
	font-size:85%;
	color:#6D6E72;
}

* {
	 -webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		  -o-box-sizing:border-box;
		     box-sizing:border-box;
}

.wrapper {
    display: table;
    margin: 0 auto;
    max-width: 960px;
    min-width:500px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    border: 3px solid #eee;
    
}



section.mainmap {
    float: left;
    min-width: 200px;
    max-width:650px;
    padding-right: 1em;
    position: relative;
    width: 65%;
}


section.year-slider-section {
    clear: both;
    float: left;
    margin-left:1em;
    padding-right: 1em;
    padding-top:1em;
    position: relative;
    width: 100%;
}


aside.info {
    display: block;
    float: right;
    min-width: 150px;
    position: relative;
    width: 32%;
}

.map-footer {
    clear: both;
    display: block;
    padding: 1em;
}

/*-------General Styles---------------------
 ===============================*/

h1, h2, h3, h4 {
	font-family: "MetaCompPro-blackRegular",Arial,Helvetica,sans-serif;
	color:#222;
}

h2 {font-size:1.1em;}

h2 > a {
	color:#2980B9;
	text-decoration:none;
}

/*-------Map---------------------
 ===============================*/

.map-info {
    background-color: #FFFFFF;
    left: 1em;
    margin-top: 42%;
    position: absolute;
    width: 44%;
}

.map-info > h1 {
    color: #666666;
    font-size: 1.2em;
    margin:0;
}


.big {
    clear: both;
    display: block;
    font-size: 2em;
}

.big > strong {
    color: #333333;
    font-size: 0.7em;
}

.big.water {color: #3FC0F0;}
.big.sanitation{color: #43C4AD;}

#map {
    margin: 5% 7% 5% 23%;
    overflow: visible;
    position: relative;
    z-index:1;
}

.map-svg {
	overflow:visible;
}

.country { fill: #eee; }

.country-border {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.selected-country-border {
	fill: none;
	stroke-width: 3;
	stroke-linejoin: round;
}
.selected-country-border.water { stroke: orange; }
.selected-country-border.sanitation { stroke: black; }



#select-source {
	display:block;
	margin:1em 0;
}

#select-source .button {
    background-color: #999999;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.2em 0.4em 0.3em;
    text-decoration: none;
}

#select-source .button:hover {
	background-color:#333;
}

#select-water-source.button.current-source {
	background-color:#3FC0F0;
}

/*--Map Legend--*/


.legend {
	padding:0.5em 0;
}

#map-legend > #map-legend-svg {
    overflow: hidden!important;
}

#map-legend > #map-legend-svg > svg {
	width:96%;
	margin:0!important;
	height:0.8em;
}

#map-legend-label { 
	text-align: center; 
}
.zero-percent { 
	float: left; 
	}
.hundred-percent { 
	float: right; 
	}
.legend-number { 
	font-size: 2em; 
	font-weight: bold; }
.legend-percent { 
	font-size: 0.8em; 
	}




/*--Tooltip--*/

div.tooltip {
	position: absolute;
	text-align: left;
	width: 80px;
	height: 65px;
	padding: 0.5em;
	font-family: sans-serif;
	font-size:0.9em;
	background: #444;
	border: 0px;
	pointer-events: none;
}

span.tooltip-year {
	color: white;
	font-size: 20px;
}
span.tooltip-country {
	color: white;
	font-weight: bold;
	font-size: 15px;
}
span.tooltip-percent {
	color: orange;
	font-weight: bold;
	font-size: 20px;
}

/*--Year Slider--*/

#year-slider > a.d3-slider-handle {
	width: 4em;
	height: 2em;
	line-height: 2em;
	top: -0.7em;
	text-align:center;
	margin-left: -2em;
	background: orange;
	color: white;
	font-weight: bold;
}

/*--Map Legend--*/

.legend {
	width: 100%;
	height: 60px;
}
#map-legend-label { 
	text-align: center; 
}
.zero-percent { 
	float: left; 
	}
.hundred-percent { 
	float: right; 
	}
.legend-number { 
	font-size: 2em; 
	font-weight: bold; }
.legend-percent { 
	font-size: 0.8em; 
	}

/*------Info Panel----------------
 ===============================*/

aside.info {
    background-color: #F8F8F8;
    margin:1em 1em 1em 0;
}

.social-share {
	background-color:#fff;
}

.social-share h2 {
	margin:0 0 0.5em 0;
}

/*--Social Buttons--*/
/*--From https://github.com/mattberridge/Simple-Social-Sharing-Buttons --*/

.ss-share {
    background-color: #FFFFFF;
    list-style: none outside none;
    margin: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
}

.ss-share-item {
	display: inline;
	margin-right:0.25em;
}

.ss-share-link {
	/* crude button styles */
	background-image:url(../images/social-share-icons-sprite.png);
	background-repeat:no-repeat;
	height:25px;
	width:25px;
	display:inline-block;
}

.ss-share-link:hover, .ss-share-link:active, .ss-share-link:focus { color: #891434; }

.ico-facebook { }
.ico-twitter {background-position:25%;}
.ico-google {background-position:50%;}
.ico-linkedin {background-position:75%;}
.ico-embed {background-position:100%;}

/*--Country info--*/

#country-info {
    border-top: 5px solid #65CDF3;
    padding: 1em;
    position:relative;
}


.country-info-year {
    background-color: #FFA500;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.25em 1em;
    position: absolute;
    top: -20px;
    right: 0;
}

.country-info-year:before {
    border-right: 15px solid #D48702;
    border-top: 15px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    left: -15px;
    position: absolute;
    top: 0;
    z-index: 1;
}

#country-info > h2 {
	margin:0;
}

#country-info > p {
    font-size: 0.9em;
    margin: 0.2em 0 1em;
    padding-left: 8em;
    position: relative;
}

#country-info-access-text > .access-percentage {
    color: #FFA500;
    font-size: 2.5em;
    font-weight: bold;
    left: 0;
    position: absolute;
}

#country-info-graph {
	background-color: #FFFFFF;
	width:100%;
	margin-top:0.25em;
}
#country-info-graph > .inner { margin: 5px; }
#country-info-graph > .inner > svg { margin-top: 5px; margin-bottom: 5px; }

#country-info line {
	stroke-width: 3;
	fill: none;
	stroke: #888;
}

#country-info line.axis {
	stroke-width: 3;
}

#country-info line.history { stroke: steelblue; }
#country-info line.projection { stroke: darkgrey; }
#country-info line.universal { stroke: orange; }
#country-info text {
	font-family: sans-serif;
	font-size: 9pt;
}

/*--Targets--*/

.targets-section {
	width: 125px;
	float: left;
}
.targets-title {
    font-size: 1em;
    margin: 0;
    padding: 0 1em;
}

.targets-subtitle {
    font-size: 0.9em;
    margin: 0.2em 0;
    padding: 0 1em;
}

.targets-section.currently {
	text-align: right;
	margin-right: 20px;
}
.targets-section.for-target {
	text-align: left;
	margin-left: 20px;
}

#targets-key {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-top:0
}

.targets-section-title {
	margin:0;
}

#targets-key-person { display: inline; }
#targets-key-text { display: inline; }

.currently { 
	color: black; 
	}
.for-target { 
	color: orange; 
	}
.targets-section-title, .targets-number-unit {
    font-size: 1.1em;
    font-weight: bold;
}
	
.targets-number {
    margin: 0 0 1em;
}

.targets-number-digits {
	font-size: 2.5em; 
	font-weight:bold;
}
.targets-subtitle, .targets-detail, .targets-percent, #targets-key-text { 
	color: #666; 
	margin:0;
}

.person { fill: #aaa; }
.person.current { fill: black; }
.person.current .negative { fill: red; }
.person.target { fill: orange; }
.person.key { fill: #aaa; }

/*------Footer----------------
 ===============================*/

.map-footer {

}
