

body {
	font-family: sans-serif;
	background-color:#eee;
}

.wrapper {
	width: auto;
	display:block;
	position:relative;
	overflow:visible;
	padding:5% 5% 10%;
	}
.wrapper {
	border:5px solid #D3D3D4;
}

section.mainmap {
	padding-right: 300px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

aside.info {
	position:absolute;
	right:20px;
	top:0;
	width:300px;
}

section.year-slider-section {
	width:95%;
}

.country { fill: #eee; }

.country-border {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.selected-country-border {
	fill: none;
	stroke-width: 3;
	stroke-linejoin: round;
}
.selected-country-border.water { stroke: orange; }
.selected-country-border.sanitation { stroke: black; }

.targets-section {
	width: 125px;
	float: left;
}

.targets-section.currently {
	text-align: right;
	margin-right: 20px;
}
.targets-section.for-target {
	text-align: left;
	margin-left: 20px;
}

#targets-key {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
}
#targets-key-person { display: inline; }
#targets-key-text { display: inline; }

.currently { color: black; }
.for-target { color: orange; }
.targets-section-title, .targets-number-unit { font-size: 1.5em; }
.targets-number-digits { font-size: 3em; }
.targets-subtitle, .targets-detail, .targets-percent, #targets-key-text { color: #666; }

.person { fill: #aaa; }
.person.current { fill: black; }
.person.current .negative { fill: red; }
.person.target { fill: orange; }
.person.key { fill: #aaa; }

#map-legend-label { text-align: center; }
.zero-percent { float: left; }
.hundred-percent { float: right; }
.legend-number { font-size: 2em; font-weight: bold; }
.legend-percent { font-size: 0.8em; }

#map {
	margin-top:5%;
	margin-bottom:10%;
	max-width:550px;
}

.map-svg {
	overflow:visible;
}

.legend {
	background-color: #fff;
	width: 100%;
	max-width:550px;
	height: 60px;
	border: 1px solid #bbb;
}

#country-info line {
	stroke-width: 2;
	fill: none;
	stroke: black;
}

#country-info line.axis {
	stroke-width: 2;
}

#country-info line.history { stroke: steelblue; }
#country-info line.projection { stroke: darkgrey; }
#country-info line.universal { stroke: orange; }


#country-info text {
	font-family: sans-serif;
	font-size: 9pt;
}

div.tooltip {
	position: absolute;
	text-align: left;
	width: 80px;
	height: 65px;
	padding: 2px;
	font-family: sans-serif;
	background: #444;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

span.tooltip-year {
	color: white;
	font-size: 20px;
}
span.tooltip-country {
	color: white;
	font-weight: bold;
	font-size: 15px;
}
span.tooltip-percent {
	color: orange;
	font-weight: bold;
	font-size: 20px;
}

#year-slider {
	max-width:550px;
}

#year-slider > a.d3-slider-handle {
	width: 4em;
	height: 2em;
	line-height: 2em;
	top: -0.7em;
	text-align:center;
	margin-left: -2em;
	background: orange;
	color: white;
	font-weight: bold;
}
